.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .mainContainer {
    display: flex;
    flex: 1;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    height: calc(100vh - 60px); 
  }
  